.mainbar {
    width: 100%;

    /* float: left;
    display: flex;
    flex-flow: row; */
    justify-content: center;
    align-items: center;
}

.logo {
    float: left;
}

.search {
    float: right;
    width: 50%;
    margin-top: 3%;
}

.btn-info1 {
    color: #fff;
    background-color:rgba(38, 50, 56, 0.8);
    border-color: #46b8da;
    width: 100%;
}

form > .textbox {
    height: 30px;
    width: 300px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgb(193, 209, 240);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
form > .textbox:focus {
    outline: 1;
    background-color: #FFF;

}

form > .buttonSearch {
    background: none;
    background-color: rgb(146,211,110);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: background-color .4s ease;
    border-radius: 0 4px 4px 0;
    background-image: url('media/2.png');
    background-repeat: no-repeat;
    background-position: center;
}

form > .buttonSearch:hover {
    background-color:green;
}


/* .button.icon-hover{
    height: 30px;
    padding: 12px 30px; 
} */
input.text:hover {
    color: white;
}


button.icon-hover:hover {
    background-color: orange;
    color: white;
}

.btn-success1 {
    color: #fff;
    background-color: orangered;
    width: 30%;
}

.btn-success1:hover {
    color: #fff;
    background-color: yellowgreen;

}

.input-group {
    width: 0120%;
}

a:hover {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Arial', serif;
}

.diff {
    color: white;
    background-color:tomato;
}

.diff:hover{
    background-color: palevioletred;
}

.menubar {
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; */
    background-color: #f05123;
    color: white;
}
.menubar a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-style: dotted;
    border-width: 0 0 0 1px;
}

/* .dropbtn {
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
} */


.nav-link {
    flex-wrap: wrap;
    color: white;
}

.nav-item {
    display: inline;
}


.pgi {
    margin-left: 69%;
}

.pagination li {
    font-size: 15px;
}

/*page 1 2 3*/

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row1 {
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: rgb(146,211,110);
}

#myFooter .youtube:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* CSS used for positioning the footers at the bottom of the page. */

/* You can remove this. */

/*
html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
*/

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;

}



/*  */

/* Article */

span a {
    text-decoration: none;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.drink {
    background-image: url('media/2.png');
    width: 11px;
    height: 18px;
}

.icon-wrap img{
    width: 25px;
    height: 25px;
}
.cate {
    float: left;
    width: 18%;
    border: 1px solid grey;
    margin-left: 18px;
}
.cate li{
 display: block;
padding: 5px;


}

.slideshow{
    float: right;
    width: 80%;
    overflow: hidden;
    margin-left: 3px;
}


.testsign {
    color: orangered;
    
}

/* input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
} */
input:focus {
  outline: 0;
  border-color: #64ac15;
}




.row1 {
  zoom: 1;
}
.row1:before,
.row1:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right:10px;
  float: left;
  width:50%;
}

.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.cach {
    margin-top: 5px;
}

.card img {
    height: 200px;
    width: 200px;
}

.row h4{
    color: red;
    font-weight: bold;
}
.row h5 {
    font-weight: bold;
}

.row p{
    font-size: 9px;
}
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 20%; */
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
/* .cancelbtn :hover{
    background-color: red;
    color: white;
} */

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container1 {
    padding: 16px;
    width: 500px;
    margin: auto auto auto auto;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:50%; /* Could be more or less, depending on screen size */
    padding-bottom: 50px;
    position: relative;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.btn-facebook {
    background-color:  #3b5998;
    color: #FFF;
    width: 45%;
}
.btn-google {
    background-color: #df4a32;
    color: black;
    width: 45%;
}

.Logo5{
    border-radius: 10%;
}
.feedback{
    background-color: #00aced;
    margin: 30px;
    display: block; 
    border-radius: 5px;
    padding: 20px;

}
.textfeedback{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feedbackheader{
    color: rgb(53, 51, 51);
    background-color: #90c1ec;
    width: 20%;
    border-radius: 2px;
    border-left: 4px solid #025ba8;;
}

/* Start effet */
*{
    margin: 0;
    padding: 0;
}
.rate {
    /* border: 1px solid #cccccc; */
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* Start effet */

.container1 span {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.container1 span:hover {
    border-bottom: solid 3px orangered;
}

/* Add Product */
.chooseImage{
    background-color: #7ed321;
    box-shadow: 5px 5px 5px grey;
    border-radius: 3px;
}
#addProduct{
    background-color: #00aced;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    text-shadow: #000;
    padding: 0px;
}

  #addDescription{
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  }
  #addNameProduct{
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  }
/* Add Product */

/* Buy History */
.headerHistoryBuy{
    padding: 10px 50px 10px 50px;
    border: 1px solid #00aced;
    background-color: #FCFFA5;
    font-size: 25px;
    border-radius: 1em;
}
#buyHistoryElement {
    background-color: #95d1e4;
    /* border-collapse: collapse;
    border-radius: 5px; */
    width: 100%;
    margin-top:20px; 
}
#buyHistoryElement tr{
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom:2px solid black; 
    box-shadow:  10px 10px 20px 0px #888888;
}
#historyLeft{
    /* border-right: 2 solid #67c9ec; */
    width: 30%;
}
#historyRight{
    display: block;
}
#productName{
    font-size: 30px;
    color: #ff0040;

}
#countProductHistory{
    color: #ff0040;
    font-size: 20px;
}
#statusProductHistory{
    color: #ff0040;
    font-size: 20px;
}
#cancelOrder{
    margin-top:60px; 
    margin-right: 450px;
    border-radius: 7px;
    background-color: #F25B5B;
    color: black;
    font-size: 20px;
}
#deleteHistoryBuy{
    background-color: black;
    border-radius: 7px;
    font-size: 20px;
    color: red;
}


/* Style Home page for admin */
.containerHomepageAdmin{
     width: 80%;
    color: #fff;
    background: linear-gradient(100deg, #102885, #2d959b);
    background-color: #184e8e;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    margin-top: 10px;
}
.titleHomepageForAdmin{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 20px;

}
#mP-btn{
}
#mU-btn{
    
}

/* Style for manage User */
.containerManageUser{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(113, 6, 253); */
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#filterUserNameForAdmin{
    width: 100%;
}
#filterUserName-btn{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}
#manageUser-table{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px;
    border: 1 solid black; */
}
#manageUser-table th{
    text-align: center;
    height: 50px;
}
#manageUser-table td{
    text-align: center;
    height: 20px;
}
/* #manageUser-table, th, td, tr{
    border: 1 solid black;
    align-items: center;
} */
#deleteUser{
    background-color: #00aced;
    width: 55px;
    border-radius: 5px;
}
#deleteAllChosen{
    /* background-color: red;
    margin-left: 28px; */
}

/* Style manage Product for Admin */
.containerManageProduct{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#filterProductNameForAdmin{
    width: 100%;
}
#filterProductName-btn{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}
#manageProduct-table{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1 solid black;
}
#manageProduct-table th{
    text-align: center;
    height: 50px;
}
/* #manageProduct-table, th, td, tr{
    border: 1 solid black;
    align-items: center; 
} */
#deleteProduct{
    background-color: #00aced;
    width: 55px;
    border-radius: 5px;
}
#deleteAllChosen{
    /* background-color: red;
    margin-left: 28px; */
}
/* Tôi bán + order manager  */

.container1 span {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.container1 span:hover {
    border-bottom: solid 3px orangered;
}

#bg {
    border-radius: 5px;
    margin: 10px;
    display: block;
    padding: 20px;
}

#bg table {
    width: 100%;
}
/* Tuấn */
/* productDetail */
.mySlides {   display:none}
.demo {cursor:pointer}
.product-info{
    border-style: solid;
    border-color: #d7d9dd;
    border-width: 1px;
}
.product-price{
    font-style: oblique;
    color: red;
    font-weight: bold;
    margin-left: 1.5em;
}
.product-name{
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 3%;
}
.product-info h5, .quantity {
    padding-top: 2em;
    margin-left: 3em;
} 
.quantity > button {
    width: 3.2em;
    height: 30px;
    padding-top: 3px;
}
.product-info h5 span {
    color: red;
    font-size: 1.3em;
} 
.product-info .bought {
    background-color: orangered;
    height: 5em; width: 10em;
    float: right;
    margin-right: 3em;
}
.product-info .description {
    padding-top: 1em;
    margin-left: 3em;
}
#comment-product {
     color: red;
    background-color: #42f4f4;
    font-weight: bold;
    border-radius: 10px;
    border: none; 
    width: auto;
    margin-left: 2em;
    line-height: 30px;
    border-bottom-color: #d7d9dd;
}
#category-product {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none; 
    width: auto;
    background-color: #f05123;
    color: white;
    margin-left: 20%;
}
.relative-name, .rating-product {
    font-weight: bold; font-size: 16px;
    margin: 2em 0em ;
	padding-left: 2em;
}

.mySlides:hover {opacity: 0.7;}

/* The Modal (background) */
.showModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-image{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content-image, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-display-image {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-display-image:hover,
.close-display-image:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content-image {
        width: 100%;
    }
}
